.background {
  background-size: cover;
  background-image: url('../assets/map.jpg');
  background-color: salmon;
}

@font-face {
  font-family: 'stm_montreal';
  src: url(/sites/all/themes/stm/css/fonts/stmmontreal_regular-webfont.eot);
}
